<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>

  <style>

body {
  background-color: #ffefcc;
  font-family: Courier New, monospace;
  color: #800000;
  margin: 0;
  padding: 2rem;
  text-align: center;
}

.folder-container {
  margin-top: 3rem;
}

.folder {
  display: block;
  background: #ffd966;
  border: 3px solid #800000;
  padding: 20px;
  margin: 20px auto;
  width: 300px;
  text-decoration: none;
  color: #800000;
  font-size: 1.5rem;
  transition: 0.2s;
}

.folder:hover {
  background: #ffc107;
  transform: scale(1.05);
}

</style>


</head>
<body>

{{ Roman Martinez}}

</body>
</html>
